
<section >
      <img src="https://i0.wp.com/blogsmedia.lse.ac.uk/blogs.dir/18/files/2019/06/decolonize-library-academic-africa.jpg?fit=1024%2C576&ssl=1" alt="Los Angeles" draggable="false" style="width:100%; height:700px">
      <div class="tm-banner-inner">
          <h1 class="tm-banner-title">Find <span class="tm-yellow-text">The Best</span> Place</h1>
          <p class="tm-banner-subtitle">Nothing is pleasanter than exploring a library.</p>
          <a href="#more" class="tm-banner-link" >Learn More</a>     
      </div>
      <input type="image"  class="over-img"  src="https://github.com/KirtiBodkhe/image/blob/main/adminnnn.png?raw=true" name="saveForm" (click)="onClick()" id="saveForm" /> 
 <input type="image"  class="over-img1"  src="https://github.com/KirtiBodkhe/image/blob/main/memberlogin1.jpg?raw=true" name="saveForm" (click)="onClickMember()" id="saveForm" />   
</section>
<!-- <router-outlet></router-outlet> -->