<div class="tm-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 tm-site-name-container">
        <a>
          <img src="https://github.com/KirtiBodkhe/image/blob/main/libraryimg-removebg-preview.png?raw=true" style="width:20%; height:155%">
      
        </a>
      </div>
      <nav class="tm-nav">
        <ul>
          <li class="nav-item active">
            <a class="nav-link" routerLink="" routerLinkActive="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="help" routerLinkActive="">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contactUs" routerLinkActive="">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login" routerLinkActive="">Login</a>
          </li>
        
        </ul>
      </nav>

    </div>
  </div>
</div>


<!-- <input type="image" routerLink="home" src="./assets/images.png" name="saveForm" (click)="onClick()" id="saveForm" /> -->


<router-outlet></router-outlet>

